#Cualquier variable que quieras usar en el cliente DEBE comenzar con "NEXT_PUBLIC_"

# API BACKEND
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:3000

# URL del FRONTEND (para futuras integraciones)
PORT=5001
NEXT_PUBLIC_FRONTEND_URL=http://localhost:5000

# Opcional: tiempo de timeout del cliente http
NEXT_PUBLIC_API_TIMEOUT='50000'
