NODE_ENV="development"
PORT=3000
DB_HOST="xxxxx"
DB_USER="xxxx"
DB_PASSWORD="xxxx"
DB_DATABASE="xxxx"

TRACKING_USER="xxx"
TRACKING_PASSWORD="xxx"

MASGPS_TRACKER_LIST_URL="http://xxxxxx"
MASGPS_TRACKER_LIST_SESSION_KEY="xxxx"
MASGPS_TRACKER_LIST_ORIGIN="http://xxxxx"

MASGPS_GET_STATE_URL="http://xxxxx"

CENTINELA_TRANSMISION_URL="https://xxxxxxxx"
CENTINELA_TRANSMISION_BEARER="xxxxxx"